<header>
  <div class="banner">Banner</div>
  <nav class="top-nav">
    <ul class="navigation">
      <li class="play-tab-nav"><%= fa_icon "play" %><span class="nav-label">Play and Chat</span></li>
      <li class="mobile track-tab-nav"><%= fa_icon "music" %></li>
      <li class="search-tab-nav"><%= fa_icon "search" %><span class="nav-label">Search</span></li>
    </ul>
  </nav>
</header>
<article class="play-tab">
  <h1>Plays Tab</h1>

<div class="chat-box"></div>

<div class="chat-controls">
  <input class="chat-input" placeholder="Enter chat"></input>
</div>
</article>
<article class="track-tab">Tracks Tab</article>
<article class="search-tab">Search Tab</article>
<article class="setting-tab">Settings Tab</article>
<article class="user-tab">User Tab</article>

<footer>
  <ul class="footer-nav">
    <li class="setting-tab-nav"><%= fa_icon "cog" %></li>
    <li class="user-tab-nav"><%= fa_icon "user"%> 0</li>
  </ul>
</footer>

